
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_BanaHubAdminLayout.cshtml";
}

<div id="layoutSidenav_content">
    <div class="container-fluid container-center d-flex justify-content-center align-items-center" style="height:100%">
        <div class="shadow-sm box">
            <h2 class="text-uppercase text-center">welcome to banahub</h2>
        </div>
    </div>
</div>

