@*@model IEnumerable<BanaHubWeb.Models.LOAI>*@
@model IEnumerable<BanaHubWeb.Models.ProductLink>


<div class="list-group">
    <h5 class="text-center" style="color: #be9329; font-weight: 500;">DANH MỤC SẢN PHẨM</h5>
    @foreach (var item in Model)
    {
        @*<a href="@Url.Action("XuLyPartial", "SanPhamDetail", new { id = item.MaLoai})" class="list-group-item list-group-item-action">@item.TenLoai</a>*@
        <a href="~/SanPhamDetail/XuLyPartial?id=@item.ID" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">@item.ProductName <span class="badge badge-primary badge-pill" style="background-color:#be9329">@item.Quantity</span></a>
    }
</div>

